
html{
    font-size: 16px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
/* nav bar customization*/

.logo-image{
    display: block;
    width: 5rem;
    padding: 0.5rem;
}
.logo-name{
    font-size: 1.5rem;
    font-weight: 700;
}
.logo{
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
    background-color: rgb(80, 200, 120);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}
.nav-links{
    height: 100%;
}
.nav-links ul{ 
    list-style: none;
    display: flex;

}
.nav-links li a{
    font-size: 1.1rem;
    display: block;
    text-decoration: none;
    padding: 1.6em ;
    color: black;
    font-weight: 600;
}

img{
    display: block;
}

/*body content starts here */

.main{
    padding-top: 1.5rem;
    margin: 0 0.5em;
}

.intro{
    display: flex;
    justify-content: center;
    width: 100%;
    height: clamp(100px,40vh,20rem);
    background-color:rgb(255,165,0);
    border-radius: 0.5em;
}
.intro-discription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
}
.intro-discription h1{
    align-self:center;
    margin: 0.5em;
    font-size: clamp(0.1rem,2rem,200px);
    font-weight: 900;
    color: rgb(164, 42, 4);
}
.intro-discription a{
    display: block;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    color: black;
    text-align: center;
    padding: 1em;
}
.link-wrapper{
    background-color: rgb(80, 200, 120);
    border-radius:0.5em ;
    align-self: center;
    margin: 0.5em;
}
.intro-imgbox{
    height: 100%;
    width: 50%;
}

.intro-imgbox img{
    margin: auto;
    width: 50%;
    height: 100%;
}

/*hamburger button customization*/
.check{
    display: none;
}

.button .button-img{
    height: 30px;
    width: 30px;
}

.button{
    position: absolute;/* this will psuh button to top*/
    display: none;
    top:1rem;
    right: 1rem;
}

/*buttons hover*/
.nav-links a:hover{
    background-color:rgb(34,139,34);
}
.link-wrapper a:hover{
    background-color:rgb(34,139,34);
    border-radius: 0.5em;
}

/*footer*/
.footer-container{
    margin-top:2em ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(56,56,56);
}
.txt-box {
    color: white;
    margin: 1em;
}
.txt-box h3{
    padding-bottom: 0.5em;
}

@media(max-width:800px) {
    /*customizing nav-bar*/
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .button{
        display: block;
    }
    .nav-links{
        width: 100%;
        display: none;
    }    

    .check:checked ~ .nav-links, ul ,li ,a {
        width: 100%;
        display: block; 
        flex-direction: column;
        text-align: center;
        
    }
    .nav-links,ul{
        margin-top: 1em ;
    }
    
    /*content customization*/
    .logo-image{
        width: 4rem;
    }
    .logo-name{
        font-size: 1.25rem;
        font-weight: 700;
    }
    .intro{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .intro-discription {
        width: 100%;
    }
    .intro-imgbox{
       width: 100%;
       display: flex;
       flex-direction: column;
    }
    .intro-imgbox img{
        align-self: center;
    }


    .image-box{
        width: 100%;
        
    }
    .image-box img{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0.5em;
    }
    .discription{
        width: 100%;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0.5em;
    }
    .footer-container{
        font-size: 1em;
        height:200px;
    }
}